/*************************\
|**    Header styles    **|
\*************************/

/* HTML report title */
.report_title {
    font-weight: bold;
    font-size: 2.1em;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    color: #3333FF;
}

/* HTML report separator */
.report_separator {
    margin: 40px auto;
    width: 425px;
    height: 10px;
    display: block;
    border-radius: 10px;
    background-color: #000084;
}

/*************************\
|**   Analysis styles   **|
\*************************/

/* Memcheck analysis title */
.memcheck_analysis_title {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 3px;

    /* Enable pointer on hover to inform the user it can be clicked */
    cursor: pointer;

    /* Disable text selection to avoid double click selection */
    user-select: none;
}

/* Change the background color on hover for an additionnal hint the title can be clicked */
.memcheck_analysis_title:hover {
    background-color: #F2F2FF;
}

/* Memcheck analysis content */
.memcheck_analysis_content {
    margin-left: 25px;
    padding: 5px 10px 7px 25px;
    border: solid thin #CCCCCC;

    /* Use a monospace font to preserve valgrind report alignment */
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
}

/* Don't display element inheriting this class */
.hidden {
    display: none;
}

/*************************\
|**    Results styles   **|
\*************************/

/* Valgrind's report has no error */
.analysis_pass_status {
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #00CF00;
}

/* Valgrind's report has at least one error */
.analysis_error_status {
    width: 100px;
    display: inline-block;
    text-align: center;
    color: #FF0000;
}

/* Braces are a bit lower than other caracters, move it up */
.brace_recenter {
    position: relative;
    bottom: 2px;
}

/* Leak errors */
.error_leak {
    color: #FF0000;
    font-weight: bold;
}

/* Leak file info */
.leak_file_info {
    color: #C017B2;
    font-style: italic;
    text-decoration: underline;
}
