/* HTML report title */
.report_title {
    font-weight: bold;
    font-size: 2.1em;
    text-align: center;
    margin: 10px;
    padding-top: 30px;
    color: #3333FF;
}

/* HTML report separator */
.report_separator {
    margin: 40px auto;
    width: 425px;
    height: 10px;
    display: block;
    border-radius: 10px;
    background-color: #000084;
}

/* Memcheck analysis title */
.memcheck_analysis_title {
    font-weight: bold;
    font-size: 1.2em;
    padding-bottom: 3px;

    /* Enable pointer on hover to inform the user it can be clicked */
    cursor: pointer;

    /* Disable text selection to avoid double click selection */
    user-select: none;
}

/* Change the background color on hover for an additionnal hint the title can be clicked */
.memcheck_analysis_title:hover {
    background-color: #F2F2FF;
}

/* Memcheck analysis content */
.memcheck_analysis_content {
    margin-left: 25px;
    padding: 5px 10px 7px 25px;
    border: solid thin #CCCCCC;
}

/* Don't display element inheriting this class */
.hidden {
    display: none;
}
